<div class="page-container">
  <div class="row justify-content-center">
    <% games.each do |game| %>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="game-time">
          <%= pretty_time(in_eastern(game.start_time)) %>
        </div>
        <div class="game-list-card-container">
          <%= render partial: "shared/game_card", locals: { game: game }%>
        </div>
      </div>
    <% end %>
  </div>
</div>