<div class="card game-card">
  <div class="card-block">
    <h5 class="card-title">
      <%= "#{sport} #{timeframe}:" %>
    </h5>
    <%= render partial: "shared/game", locals: { game: game } %>
  </div>
</div>