<div class="col-sm-2">
  <%= image_tag(espn_image_for(team), class: "img-fluid", size: "45") %>
</div>
<div class="col-sm-5">
  <div class="row">
    <%= team.name %>
  </div>
  <div class="row">
    <span class="game-record"><%= "(#{team.wins}-#{team.losses})" %></span>
  </div>
</div>