<div class="row">
  <%= render partial: "shared/game_team", locals: { team: game.away_team }%>
</div>
<div class="row">
  <%= render partial: "shared/game_team", locals: { team: game.home_team }%>
</div>