<% if game.nil? %>
<% else %>
  <div class="row">
    <div class="col-sm-6">
      <%= "#{game.sport.name.capitalize} #{timeframe}:" %>
    </div>
    <div class="col-sm-6 game-time">
      <%= pretty_time(in_eastern(game.start_time)) %>
    </div>
  </div>
<% end %>