<div class="game-reco-container">
  <div class="row">
    <div class="col-5">
      <%= image_tag("deford-portrait.jpg", class: "img-fluid") %>
    </div>
    <div class="col-6">
      <%= "The Best #{sport} game #{timeframe} is:" %>
      <%= render partial: "shared/game", locals: { game: game }%>
      -Frank Deford
    </div>
  </div>
</div>
