<p>
  <%= link_to("Watch this game","https://www.reddit.com/r/nflstreams") if sport_name.downcase == "football" %>
  <%= link_to("Watch this game", "https://www.reddit.com/r/NHLStreams/") if sport_name.downcase == "hockey" %>
  <%= link_to("Watch this game", "https://www.reddit.com/r/nbastreams/") if sport_name.downcase == "basketball" %>
</p>