<div class="feature-game-card-container">
<% if game%>
  <%= render partial: "stream_link", locals: { sport_name: game.sport.name}%>
  <%= render partial: "hot_game_card", locals: { game: game } %>
<% else %>
  <div class="no-game-container">
    <p>No games in progress. Come back later to see what's on.</p>
  </div>
<% end %>
</div>