<div class="page-container">

<div class="game-reco-container">
    <div class="row">
      <div class="col-5">
        <%= image_tag("deford-portrait.jpg", class: "img-fluid") %>
      </div>
      <div class="col-6">
        Best Hockey Game Today:
        <%= render partial: "shared/game", locals: { game: @hockey_game_of_the_day }%>
        Best Football Game this Week:
        <%= render partial: "shared/game", locals: { game: @football_game_of_the_week }%>
      </div>
    </div>
  </div>

  Learn more about the American treasure, <a href="https://en.wikipedia.org/wiki/Frank_Deford">Frank Deford</a>
</div>