@import "bootstrap";

// universal
.page-container {
  margin-top: 20px;
}

.navbar-inner-container {
  width: 100%;
}
//--------

//recommendations
.game-reco-container {
  background-color: #969696;
}
//--------

//games
.game-card {
  margin-top: 30px;
}

.game-team {
  padding-left: 5px;
  font-size: 1.15em;
}

//--------
