@import "bootstrap";

// universal
.page-container {
  margin-top: 20px;
}

.navbar-inner-container {
  width: 100%;
}

.card-block {
  padding: 10px;
}

.portrait {
  padding: 30px;
  img {
    border-radius: 4px;
  }
}

.card {
  background-color: #f8f9fa;
  font-size: 1.15em;
}
//--------

//games

.game-card-list {
  &:last-child {
    margin-bottom: 30px;
  }
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.game-listing {
  margin-bottom: 20px;
  background-color: pink;
}

.game-list-card-container {
  margin-bottom: 30px;
}

.feature-game-card {
  margin-top: 30px;
}

.game-time {
  font-size: .8em;
  color: darkgray;
  text-align: right;
  padding-top: 6px;
}

.game-team-record {
  font-size: .6em;
  color: darkgray;
  padding-bottom: 4px;
}

.game-time-row {
  font-size: .65em;
}

@media (max-width: 567px) {
  ul:first-child {
    margin-top: 0px;
  }
  .portrait {
    padding-bottom: 0px;
  }
}



//--------
