@import "bootstrap";

// universal

h1 {
  text-align: center;
  margin-bottom: 25px;
}

h2 {
  text-align: center;
  margin-bottom: 25px;
}
.page-container {
  margin-top: 20px;
}

.navbar-inner-container {
  width: 100%;
}

.salutation {
  text-align: center;
}

.card-block {
  padding: 10px;
}

.card {
  background-color: #f8f9fa;
  font-size: 1.15em;
}
//--------

//games

.feature-game-card-container {
  margin-bottom: 20px;
  p {
    text-align: center;
    margin-bottom: 0px;
  }
  .no-game-container {
    margin-bottom: 50px;
    color: rgb(250, 96, 96);
  }
}

.game-list-card-container {
  margin-bottom: 30px;
}

.hot-game-card {
  .game-team-record {
    color: rgb(56, 56, 56);
  }
}

.game-time {
  font-size: .8em;
  color: darkgray;
  text-align: right;
  padding-top: 6px;
}

.game-team-logo {
  display: inline-block;
  padding: 0 10px;
  .logo {
    max-height: 40px;
  }
}

.game-team-textbox {
  display: inline-block;
  padding-top: 4px;
}

.game-team-record {
  font-size: .6em;
  color: darkgray;
  padding-bottom: 4px;
}

.game-time-row {
  font-size: .65em;
}

@media (max-width: 570px) {
  .col-sm-6 {
    width: 50%;
  }
}

//--------
