@import "bootstrap";

// universal
.page-container {
  margin-top: 20px;
}

.navbar-inner-container {
  width: 100%;
}
//--------

//recommendations
.game-reco-container {
  background-color: #969696;
  padding: 5px;
  color: #e5e5e5;
  border-radius: 5px;
  font-size: 2em
}
//--------

//shedules

  //games

  //--------

//--------