<!DOCTYPE html>
<html>
  <head>
    <title>Bookmaker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <div class="navbar-inner-container">
        <div class="d-flex justify-content-center">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            <a class="nav-link" href="/schedules/nfl">NFL <span class="sr-only">(current)</span></a>
            <a class="nav-link" href="/schedules/nhl">NHL</a>
        </div>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
